/*
    DEMO STYLE
*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);

body {
  font-family: 'Noto Sans Kannada', sans-serif;
    background : #141414; /*페이지 배경색*/
}

p {
  font-family: 'Noto Sans Kannada', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
	background: inherit;
	
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex; /*wapper안의 내용을 수평 정렬*/
    width: 100%;
    align-items: stretch; /*stretch값은 페이지 내용과 사이드 바 높이를 동일하게합니다.*/
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;/*너비 고정*/
    max-width: 250px;/*너비 고정*/
    background: #000; /*사이드 배경색*/
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

/*열고닫고할때 필요한거*/
#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000; /*사이드 배경*/
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #141414;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a { /*사이드 메뉴 글자*/
    padding: 16px;
    font-size: 0.9em;
    display: block;
}
#sidebar ul li a:hover {
    color: #D5D5D5; 
    background: #202020;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #000; /*사이드 배경*/
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #000; /*사이드 배경*/
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #000; /*포인트 다른 배경 색*/
}




/*버튼 css*/
.btn-search {
	margin-left: 16px;
	padding:8px;
	width: 85%;
	margin-bottom:8px;
	background-color: inherit;
	border: 1px solid #FFF;
	color: #FFF;
	
}

#search-form{
	color:white;
		border: 0;
		background-color: #141414;
}

.btn-search:hover {
	background-color: #FFF;
	color: #141414;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #141414; /*버튼 배경 컬러*/
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff; /*버튼 색상*/
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
